body, html {
	margin:0;
	padding:0;
	background-color:#333;
}

html {
	width:100%;
}

h1, #welcome {
	padding:0.5em;
	margin:0;
	display:inline-block;
	max-width:50%
}

#topbar {
	width:100%;
	background-color:#333;
	color:#ccc;
	border-bottom:0.2em solid #aee;
}

#warning {
	width:80%;
	padding:2em;
	border:1em solid #f00;
	margin:1em auto;
	background-color:#cee;
	text-align:center;
}

#reset {
	display:none;
	text-align:center;
	padding:1em;
	text-decoration:none;
	background-color:#555;
	color:#ccc;
}

#footer{
	color:#333;
	text-align:right;
	margin-top:2em;
	padding:0.5em;
	background-color:#aaa;
}

span.option-value {
	min-width:3em;
	display:inline-block;
}

#sliders, #submit {
	margin:0 auto;
	width:50%;
	text-align:center;
	position:relative;
}

#results {
	width:80%;
	margin:0 auto;
	background-color:#cca;
	padding:1em;
	text-align:left;
}

#result-table {
	width:100%;
}

#submit {
	padding:2em;
	background-color:#aaa;
}

div.option {
	background-color:#cca;
	padding:2em;
	margin-bottom:0.1em;
}

#name-input {
	font-weight:bold;
}

span.option-name {
	display:inline-block;
	font-weight:bold;
	width:49%;
	min-width:15em;
	text-align:left;
}

input.slider {
	width:49%;
	min-width:15em;
}

@media (max-width: 1024px) {
	#topbar{
		text-align:center;
	}

	#sliders{
		width:100%;
	}

	h1, #welcome, #submit{
		max-width:inherit;
	}

	#results{
		width:inherit;
	}
}

@media (max-width: 35em) {
	span.option-name {
		display:inline;
	}

	input.slider {
		width:100%;
		min-width:0;
		text-align:center;
	}
}

#password { 
	display:none;
}
